
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for NewsAbstract</h1>

<f:flashMessages />

<table  class="tx_newsabstract" >
	<tr>
		<th><f:translate key="tx_newsabstract_domain_model_newsabstract.abstract" /></th>
		<th><f:translate key="tx_newsabstract_domain_model_newsabstract.subheadline" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{newsAbstracts}" as="newsAbstract">
		<tr>
			<td><f:link.action action="show" arguments="{newsAbstract : newsAbstract}"> {newsAbstract.abstract}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsAbstract : newsAbstract}"> {newsAbstract.subheadline}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{newsAbstract : newsAbstract}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{newsAbstract : newsAbstract}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New NewsAbstract</f:link.action>
</f:section>